<!DOCTYPE html>
<html class="wide wow-animation" lang="ru">
    <head>
        {% load static %}
        <title>{% block title %}Главная{% endblock title %}</title>
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="UTF-8" />
        <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon" />
        <!-- Stylesheets-->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <!--Блок хедера и навбара-->
    <body>
        <!-- Page-->
        <div class="page text-center">
            <!-- Page Header-->
            <header class="page-header">
                <!-- RD Navbar-->
                <div class="rd-navbar-wrap">
                    <nav class="rd-navbar rd-navbar-default rd-navbar-default-with-top-panel" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="90px" data-lg-stick-up-offset="150px">
                        <div class="rd-navbar-top-panel rd-navbar-collapse-items">
                            <div class="rd-navbar-top-panel-inner">
                                <div class="left-side">
                                    <!-- Contact Info-->
                                    <address class="contact-info">
                                        <div class="reveal-inline-block">
                                            <div class="unit unit-middle unit-horizontal unit-spacing-xs unit-xs-top">
                                                <div class="unit-left">
                                                    <span class="icon icon-sm text-middle fa-map-marker"></span>
                                                </div>
                                                <div class="unit-body">
                                                    <a class="text-middle link link-gray-base" href="{% url 'home' %}">г. Москва, ул. -------</a>
                                                </div>
                                            </div>
                                        </div>
                                    </address>
                                </div>
                                <div class="right-side">
                                    <ul class="list-inline list-inline-md">
                                        <li>
                                            <div class="reveal-inline-block">
                                                <div class="unit unit-middle unit-horizontal unit-spacing-xs unit-xs-top">
                                                    <div class="unit-left">
                                                        <span class="icon icon-sm text-middle fa-phone"></span>
                                                    </div>
                                                    <div class="unit-body">
                                                        <a class="text-middle link link-gray-base" href="callto:#">8 800 8080 808</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="reveal-inline-block">
                                                <div class="unit unit-middle unit-horizontal unit-spacing-xs unit-xs-top">
                                                    <div class="unit-left">
                                                        <span class="icon icon-sm text-middle fa-phone"></span>
                                                    </div>
                                                    <div class="unit-body">
                                                        <a class="text-middle link link-gray-base" href="callto:#">info@demo.org</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="rd-navbar-inner">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                                    <span></span>
                                </button>
                                <!-- RD Navbar collapse toggle-->
                                <button class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse-items">
                                    <span></span>
                                </button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand">
                                    <a class="brand-name" href="{% url 'home' %}">
                                        <img src="{% static 'img/business-card.png'%}" width="80" height="33" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="rd-navbar-aside-right">
                                <div class="rd-navbar-nav-wrap">
                                    <div class="rd-navbar-nav-scroll-holder">
                                        <!-- RD Navbar Brand-->
                                        <div class="rd-navbar-mobile-brand">
                                            <a class="brand-name" href="{% url 'home' %}">
                                                <img src="{% static 'img/business-card.png'%}" width="180" height="33" alt="" />
                                            </a>
                                        </div>
                                        <!-- RD Navbar Nav-->
                                        <ul class="rd-navbar-nav">
                                            <li>
                                                <a href="{% url 'services' %}">Услуги</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'about_us' %}">О нас</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'gallery' %}">Галлерея</a>
                                            </li>
                                            <li>
                                                <a data-toggle="modal" data-target="#modalsignup" href="">Записаться</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <!--Основной блок-->

            {% block content %}
                <!--Секция основной картинки и названия компании-->
                <section class="banner bg-image-1 text-sm-left section-banner">
                    <div class="shell">
                        <div class="range range-xs-center range-md-right">
                            <div class="cell-md-6 cell-lg-4">
                                <h3>Сервис</h3>
                                <h1>"Название сервиса"</h1>
                                <a class="button button-sm button-default-outline" data-toggle="modal" data-target="#modalSubscriptionForm" href="">Заказать звонок</a>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Секция информации о работе и обратной связи-->
                <section class="text-sm-left contact-info">
                    <div class="shell">
                        <div class="range range-xs-center border-left-cell">
                            <div class="cell-xs-8 cell-sm-4">
                                <div class="contact-info-item">
                                    <h6>Наши преимущества</h6>
                                    <hr class="divider divider-xs" />
                                    <ul class="list list-marked">
                                        <li>Бесплатная диагностика</li>
                                        <li>Сертифицированные услуги</li>
                                        <li>Справедливые цены</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cell-xs-8 cell-sm-4">
                                <div class="contact-info-item">
                                    <h6>часы работы</h6>
                                    <hr class="divider divider-xs" />
                                    <ul class="list list-2-col">
                                        <li>Будни:</li>
                                        <li>Суббота:</li>
                                        <li>Воскресенье:</li>
                                        <li>09:00 – 22:00</li>
                                        <li>10:00 – 18:00</li>
                                        <li>10:00 – 17:00</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cell-sm-4">
                                <div class="contact-info-item">
                                    <h6>Свяжитесь с нами</h6>
                                    <hr class="divider divider-xs" />
                                    <a class="link link-sm link-primary" href="callto:#">8 800 8080 808</a>
                                    <div class="unit unit-horizontal unit-spacing-xxs unit-align-center unit-sm-align-left">
                                        <div class="unit-left">
                                            <span>whatsapp:</span>
                                        </div>
                                        <div class="unit-body">
                                            <a class="link link-gray-lightest" href="callto:#">8 800 8080 808</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Секция основных услуг-->
                <section class="section-md">
                    <div class="shell">
                        <h3>Ремонтируем бытовую технику любой сложности</h3>
                        <p class="subtitle">МЫ ПОЧИНИМ ВАШУ ТЕХНИКУ БЫСТРО И КАЧЕСТВЕННО, <br class="visible-lg-inline-block"> А ТАКЖЕ РАССКАЖЕМ, КАК ИЗБЕЖАТЬ ПОЛОМОК.</p>
                        <div class="range range-xs-center">
                            <div class="cell-md-6">
                                <div class="range range-55">
                                    <div class="cell-sm-6 cell-md-4">
                                        <div class="thumbnail-variant-1">
                                            <span class="icon icon-circle icon-lg icon-primary car-repire-icon-46"></span>
                                            <div class="caption">
                                                <a class="link link-default title-thumbnail" href="#">Ремонт стиральной машины</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell-sm-6 cell-md-4">
                                        <div class="thumbnail-variant-1">
                                            <span class="icon icon-circle icon-lg icon-primary car-repire-icon-22"></span>
                                            <div class="caption">
                                                <a class="link link-default title-thumbnail" href="#">Диагностика стиральной машины</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell-sm-6 cell-md-4">
                                        <div class="thumbnail-variant-1">
                                            <span class="icon icon-circle icon-lg icon-primary car-repire-icon-31"></span>
                                            <div class="caption">
                                                <a class="link link-default title-thumbnail" href="#">Обслуживание</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell-sm-6 cell-md-4">
                                        <div class="thumbnail-variant-1">
                                            <span class="icon icon-circle icon-lg icon-primary car-repire-icon-38"></span>
                                            <div class="caption">
                                                <a class="link link-default title-thumbnail" href="#">Выезд на дом</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell-sm-6 cell-md-4">
                                        <div class="thumbnail-variant-1">
                                            <span class="icon icon-circle icon-lg icon-primary car-repire-icon-06"></span>
                                            <div class="caption">
                                                <a class="link link-default title-thumbnail" href="#">Ремонт посудомоечной машины</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell-sm-6 cell-md-4">
                                        <div class="thumbnail-variant-1">
                                            <span class="icon icon-circle icon-lg icon-primary car-repire-icon-23"></span>
                                            <div class="caption">
                                                <a class="link link-default title-thumbnail" href="#">Установка</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="button button-sm button-default-outline" href="{% url 'services' %}">посмотреть все услуги</a>
                            </div>
                            <div class="cell-md-6">
                                <img src="{% static 'img/dishwasher.jpg' %}" alt="" width="588" height="448" />
                            </div>
                        </div>
                    </div>
                </section>
                <!--Секция краткой информации-->
                <section class="bg-primary section-md">
                    <div class="shell">
                        <h3>О нас</h3>
                        <div class="range range-md-justify text-sm-left">
                            <div class="cell-md-5">
                                <h6>Мы работаем с 2008 года</h6>
                                <p>Здесь краткая информация.</p>
                                <a class="button button-sm button-default-outline" href="{% url 'about_us' %}">подробнее</a>
                            </div>
                            <div class="cell-md-6">
                                <!-- Owl Carousel-->
                                <div class="owl-carousel" data-items="1" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false" data-nav="true">
                                    <div class="owl-item">
                                        <blockquote class="quote-variant-1">
                                            <div class="unit unit-horizontal unit-spacing-md unit-xs-middle">
                                                <div class="unit-left">
                                                    <img class="img-circle" src="{% static 'img/user.svg' %}" alt="" width="108" height="108" />
                                                </div>
                                                <div class="unit-body">
                                                    <cite>Иван Иванов</cite>
                                                    <p>Генеральный директор</p>
                                                    <hr class="divider divider-xs" />
                                                </div>
                                            </div>
                                            <div class="quote-body">
                                                <p>
                                                    <q>Краткая история.</q>
                                                </p>
                                            </div>
                                        </blockquote>
                                    </div>
                                    <div class="owl-item">
                                        <blockquote class="quote-variant-1">
                                            <div class="unit unit-horizontal unit-spacing-md unit-xs-middle">
                                                <div class="unit-left">
                                                    <img class="img-circle" src="{% static 'img/user.svg' %}" alt="" width="108" height="108" />
                                                </div>
                                                <div class="unit-body">
                                                    <cite>Иван Иванов</cite>
                                                    <p>Мастер</p>
                                                    <hr class="divider divider-xs" />
                                                </div>
                                            </div>
                                            <div class="quote-body">
                                                <p>
                                                    <q>Краткая история.</q>
                                                </p>
                                            </div>
                                        </blockquote>
                                    </div>
                                    <div class="owl-item">
                                        <blockquote class="quote-variant-1">
                                            <div class="unit unit-horizontal unit-spacing-md unit-xs-middle">
                                                <div class="unit-left">
                                                    <img class="img-circle" src="{% static 'img/user.svg' %}" alt="" width="108" height="108" />
                                                </div>
                                                <div class="unit-body">
                                                    <cite>Иван Иванов</cite>
                                                    <p>Управляющий</p>
                                                    <hr class="divider divider-xs" />
                                                </div>
                                            </div>
                                            <div class="quote-body">
                                                <p>
                                                    <q>Краткая история.</q>
                                                </p>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endblock content %}

            <!--Секция футера-->
            <section class="offset-lg-top--360">
                <!-- Page Footer -->
                <footer class="page-footer text-center text-sm-left">
                    <div class="shell section-xs">
                        <div class="range range-xs-center range-45">
                            <div class="cell-sm-6 cell-lg-3">
                                <h6>НАШ СЕРВИС</h6>
                                <hr class="divider divider-xs" />
                                <div class="p">Мы починим вашу технику быстро и качественно, а также расскажем, как избежать поломок..</div>
                                <ul class="list-inline">
                                    <li>
                                        <a class="icon fa fa-facebook icon-circle icon-xs icon-white" href="index.html#"></a>
                                    </li>
                                    <li>
                                        <a class="icon fa fa-twitter icon-circle icon-xs icon-white" href="index.html#"></a>
                                    </li>
                                    <li>
                                        <a class="icon fa fa-google-plus icon-circle icon-xs icon-white" href="index.html#"></a>
                                    </li>
                                    <li>
                                        <a class="icon fa fa-instagram icon-circle icon-xs icon-white" href="index.html#"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="cell-sm-6 cell-lg-3">
                                <h6>Быстрые ссылки</h6>
                                <hr class="divider divider-xs" />
                                <ul class="list list-unstyled list-2-col">
                                    <li>
                                        <a class="link link-footer" href="{% url 'services' %}">Услуги</a>
                                    </li>
                                    <li>
                                        <a class="link link-footer" href="{% url 'gallery' %}">Галлерея</a>
                                    </li>
                                    <li>
                                        <a class="link link-footer" data-toggle="modal" data-target="#modalsignup" href="">Записаться</a>
                                    </li>
                                    <li>
                                        <a class="link link-footer" href="{% url 'about_us' %}">О нас</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="cell-sm-6 cell-lg-3">
                                <h6>Контакты</h6>
                                <hr class="divider divider-xs" />
                                <div class="unit unit-horizontal unit-middle unit-align-center unit-sm-align-left unit-spacing-xs">
                                    <div class="unit-left">
                                        <span class="icon icon-footer fa-envelope"></span>
                                    </div>
                                    <div class="unit-body">
                                        <a class="link link-white" href="mailto:#">info@demo.org</a>
                                    </div>
                                </div>
                                <div class="unit unit-horizontal unit-top unit-align-center unit-sm-align-left unit-spacing-xs">
                                    <div class="unit-left">
                                        <span class="icon icon-footer fa-phone"></span>
                                    </div>
                                    <div class="unit-body">
                                        <a class="link link-white" href="callto:#">8 800 8080 808</a>
                                    </div>
                                </div>
                                <div class="unit unit-horizontal unit-middle unit-align-center unit-sm-align-left unit-spacing-xs">
                                    <div class="unit-left">
                                        <span class="icon icon-footer fa-map-marker"></span>
                                    </div>
                                    <div class="unit-body">
                                        <a class="link link-white" href="">г. Москва <br> ул. --------</a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="cell-sm-6 cell-lg-3">
                                <h6>Рассылка</h6>
                                <hr class="divider divider-xs" />
                                <div class="p small">Подписаться на рассылку</div>
                                <form class="rd-mailform form-subscribe" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="/bat/rd-mailform.php">
                                    <div class="form-group">
                                        <input class="form-input" placeholder="E-mail" type="email" name="email" data-constraints="@Required @Email" />
                                    </div>
                                    <button class="button button-coral-red" type="submit"></button>
                                </form>
                            </div> -->
                        </div>
                    </div>
                </footer>
            </section>
        </div>
        <!--Подписка mail рассылку-->
        <div class="snackbars" id="form-output-global"></div>
        <!--Блок для прокрутки галереи-->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                        <button class="pswp__button pswp__button--share" title="Share"></button>
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__cent"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--Блок модальных окон-->
        <!--Modal Feedback-->
        <!--Модальное окно для заказа звонка-->
        <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Заказать звонок</h4>
                        <button type="button" class="close fa-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="contact" action="" method="POST"> {% csrf_token %}
                        <div class="modal-body mx-3">
                            <div class="md-form mb-5">
                                <i class="fas fa-user prefix"></i>
                                <!--id="form3"-->
                                <input type="text" class="form-control validate" id="form3" />
                                <label data-error="wrong" data-success="right" for="form3">Ваше имя</label>
                            </div>
                            <div class="md-form mb-4">
                                <i class="fas fa-phone prefix"></i>
                                <input type="tel" id="form2_1" class="form-control validate" />
                                <label data-error="wrong" data-success="right" for="form2_1">Ваш телефон</label>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button class="button button-sm button-default-outline">Заказать <i class="fas fa-paper-plane-o ml-1"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Modal Sign Up-->
        <!--Модальное окно для записи-->
        <div class="modal fade" id="modalsignup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Записаться на консультацию</h4>
                        <button type="button" class="close fa-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="contact" action="" method="POST"> {% csrf_token %}
                        <div class="modal-body mx-3">
                            <div class="md-form mb-5">
                                <i class="fas fa-user prefix"></i>
                                <input type="text" id="form3" class="form-control validate" />
                                <label data-error="wrong" data-success="right" for="form3">Ваше имя</label>
                            </div>
                            <div class="md-form mb-4">
                                <i class="fas fa-phone prefix"></i>
                                <input type="tel" id="form2_2" class="form-control validate" />
                                <label data-error="wrong" data-success="right" for="form2_2">Ваш телефон</label>
                            </div>
                            <div class="md-form mb-4">
                                <i class="fas fa-address-card prefix"></i>
                                <input type="text" id="form5" class="form-control validate" />
                                <label data-error="wrong" data-success="right" for="form5">Ваш адрес</label>
                            </div>
                            <div class="md-form mb-4">
                                <i class="fas fa-text-height prefix"></i>
                                <input type="textarea" id="form4" class="form-control validate" />
                                <label data-error="wrong" data-success="right" for="form4">Пожелания</label>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button class="button button-sm button-default-outline">Заказать <i class="fas fa-paper-plane-o ml-1"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Java script-->
        <script src="{% static 'js/core.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>

        <!--------------------------------------------------------------------------------------------------------------------------->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.js" type="text/javascript"></script>
        <script>
            $("#form2_1").mask("+7 (999) 999-99-99");
            $("#form2_2").mask("+7 (999) 999-99-99");
        </script>
        <!--------------------------------------------------------------------------------------------------------------------------->

    </body>
</html>