{% extends 'TverWashApp/index.html' %}
{% load static %}
{% block title %}
  Все услуги
{% endblock title %}
{% block content %}
      <hr>
      <section class="section-md bg-white">
        <div class="shell">
          <h3>Услуги нашей компании</h3>
          <div class="range range-xs-center text-sm-left range-50">
            <div class="cell-sm-6 cell-md-4 cell-lg-3">
              <div class="thumbnail-variant-4"><img src="{% static 'img/about.7ab1d77.png'%}" alt="" width="270" height="200"/>
                <div class="caption"><a class="link link-default title-thumbnail">1-услуга</a>
                  <p class="text-thumbnail">Описание
                  </p>
                </div>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-4 cell-lg-3">
              <div class="thumbnail-variant-4"><img src="{% static 'img/about.7ab1d77.png'%}" alt="" width="270" height="200"/>
                <div class="caption"><a class="link link-default title-thumbnail">2-услуга</a>
                  <p class="text-thumbnail">Описание
                  </p>
                </div>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-4 cell-lg-3">
              <div class="thumbnail-variant-4"><img src="{% static 'img/about.7ab1d77.png'%}" alt="" width="270" height="200"/>
                <div class="caption"><a class="link link-default title-thumbnail">3-услуга</a>
                  <p class="text-thumbnail">Описание
                  </p>
                </div>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-4 cell-lg-3">
              <div class="thumbnail-variant-4"><img src="{% static 'img/about.7ab1d77.png'%}" alt="" width="270" height="200"/>
                <div class="caption"><a class="link link-default title-thumbnail">4-услуга</a>
                  <p class="text-thumbnail">Описание
                  </p>
                </div>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-4 cell-lg-3">
              <div class="thumbnail-variant-4"><img src="{% static 'img/about.7ab1d77.png'%}" alt="" width="270" height="200"/>
                <div class="caption"><a class="link link-default title-thumbnail">5-услуга</a>
                  <p class="text-thumbnail">Описание
                  </p>
                </div>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-4 cell-lg-3">
              <div class="thumbnail-variant-4"><img src="{% static 'img/about.7ab1d77.png'%}" alt="" width="270" height="200"/>
                <div class="caption"><a class="link link-default title-thumbnail">6-услуга</a>
                  <p class="text-thumbnail">Описание
                  </p>
                </div>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-4 cell-lg-3">
              <div class="thumbnail-variant-4"><img src="{% static 'img/about.7ab1d77.png'%}" alt="" width="270" height="200"/>
                <div class="caption"><a class="link link-default title-thumbnail">7-услуга</a>
                  <p class="text-thumbnail">Описание
                  </p>
                </div>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-4 cell-lg-3">
              <div class="thumbnail-variant-4"><img src="{% static 'img/about.7ab1d77.png'%}" alt="" width="270" height="200"/>
                <div class="caption"><a class="link link-default title-thumbnail">8-услуга</a>
                  <p class="text-thumbnail">Описание
                  </p>
                </div>
              </div>
            </div>
        </div>
      </section>
      {% endblock content %}